In [1]:
import pandas as pd 
import numpy as np 
wild=pd.read_csv('7ocakbest.csv')
df_kag=pd.read_csv('submission (9) (1).csv')

In [2]:
df_kag['length']=df_kag.moves.apply(lambda x : len(x.split('.')))
df_kag.length.sum()

827353

In [3]:
wild['length']=wild.moves.apply(lambda x : len(x.split('.')))
wild.length.sum()

827944

In [4]:
better_idx=wild[wild['length']<df_kag['length']].index.tolist()

In [5]:
df_kag.loc[12].moves

'r0.-d1.-d1.-f1.d1.-r1.-r1.f0.r1.d0.-f0.d0'

In [6]:
for i in better_idx:
    df_kag.loc[i,'moves']= wild.loc[i,'moves']

df_kag['length']=df_kag.moves.apply(lambda x : len(x.split('.')))

In [7]:
wild.loc[151]

id                                                      151
moves     -r0.-r1.-f2.-f3.r0.r1.-f3.-f3.-d0.-d1.r0.r0.-f...
length                                                   92
Name: 151, dtype: object

In [8]:
df_kag.loc[151]

id                                                      151
moves     -r0.-r1.-f2.-f3.r0.r1.-f3.-f3.-d0.-d1.r0.r0.-f...
length                                                   90
Name: 151, dtype: object

In [9]:
df_kag

      id                                              moves  length
0      0                                             r1.-f1       2
1      1                     f0.r1.f1.-d0.-d0.-f0.-r0.f0.d0       9
2      2           -d1.-r0.f0.-r1.f1.d1.-r1.-f0.d1.f0.d1.d1      12
3      3               -f0.d0.-r0.f0.-d0.-r0.d0.-f0.-r0.-f0      10
4      4          -r1.-f0.d0.r0.-d1.-d1.r1.d1.f0.r1.-d1.-r1      12
..   ...                                                ...     ...
393  393  f19.f21.-f39.f20.f2.-f5.f7.-r3.f55.-f12.f65.-f...   29562
394  394  -f31.-f22.f16.-f17.-f13.-f24.-f14.f2.f21.f44.f...   28657
395  395  -r0.-f42.-f8.f16.-f49.f14.-f1.f56.f26.f35.f62....   28758
396  396  f25.-f29.f46.f49.-f8.f27.f26.-f20.f2.-f20.f6.f...   26340
397  397  -r1.f23.f24.-r2.f38.-f19.f24.f19.f18.f29.f48.-...   20679

[398 rows x 3 columns]

In [10]:
df_kag.drop('length',axis=1,inplace=True)

In [16]:
df_kag.to_csv('8ocakbest.csv',index=False)

In [17]:
df_kag['length']=df_kag.moves.apply(lambda x : len(x.split('.')))
df_kag.length.sum()

827349

In [13]:
wild.loc[ wild['moves'] < df_kag['moves'] , 'moves'] = df_kag['moves']

In [14]:
df_kag=df_kag.drop('length',axis=1)

In [15]:
df=pd.read_csv('sample_submission.csv')
df

      id                                              moves
0      0                                             r1.-f1
1      1  f1.d0.-r0.-f1.-d0.-f1.d0.-r0.f0.-f1.-r0.f1.-d1...
2      2  f1.d0.-d1.r0.-d1.-f0.f1.-r0.-f0.-r1.-f0.r0.-d0...
3      3  -f0.-r0.-f0.-d0.-f0.f1.r0.-d1.-r0.-r1.-r0.-f1....
4      4  d1.-f1.d1.r1.-f0.d1.-d0.-r1.d1.d1.-f1.d1.-d0.-...
..   ...                                                ...
393  393  f19.f21.-f39.f20.f2.-f5.f7.-r3.f55.-f12.f65.-f...
394  394  -f31.-f22.f16.-f17.-f13.-f24.-f14.f2.f21.f44.f...
395  395  -r0.-f42.-f8.f16.-f49.f14.-f1.f56.f26.f35.f62....
396  396  f25.-f29.f46.f49.-f8.f27.f26.-f20.f2.-f20.f6.f...
397  397  -r1.f23.-f24.-r2.f30.f30.f38.-f19.f24.f19.f18....

[398 rows x 2 columns]

In [40]:
df_kag.to_csv('submission_3012024.csv',index=False)

In [27]:
if (df_kag['length']> wild['length']) :
    print

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [15]:
wild

      id                                              moves   size  length
0      0                                             r1.-f1      2       2
1      1                     f0.r1.f1.-d0.-d0.-f0.-r0.f0.d0      9       9
2      2           -d1.-r0.f0.-r1.f1.d1.-r1.-f0.d1.f0.d1.d1     12      12
3      3               -f0.d0.-r0.f0.-d0.-r0.d0.-f0.-r0.-f0     10      10
4      4          -r1.-f0.d0.r0.-d1.-d1.r1.d1.f0.r1.-d1.-r1     12      12
..   ...                                                ...    ...     ...
393  393  f19.f21.-f39.f20.f2.-f5.f7.-r3.f55.-f12.f65.-f...  29808   29808
394  394  -f31.-f22.f16.-f17.-f13.-f24.-f14.f2.f21.f44.f...  28659   28659
395  395  -r0.-f42.-f8.f16.-f49.f14.-f1.f56.f26.f35.f62....  28758   28758
396  396  f25.-f29.f46.f49.-f8.f27.f26.-f20.f2.-f20.f6.f...  26362   26362
397  397  -r1.f23.f24.-r2.f38.-f19.f24.f19.f18.f29.f48.-...  20689   20689

[398 rows x 4 columns]